# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UsersDashboard.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\_Other\Projects\.NET\user-manager\.idea\.idea.UsersDashboard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
