@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-stripped">
        <thead>
            <th scope="col">Id</th>
            <th scope="col">Last name</th>
            <th scope="col">First name</th>
            <th scope="col">Year of birth</th>
            <th scope="col">Login</th>
            <th scope="col">Is Admin?</th>
            <th scope="col">Actions</th>
        </thead>
        <thead>

        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>1900</td>
                <td>MaOt</td>
                <td>YES</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>